body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  columns: currentColor;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 2px solid red; */
}

/* ===HEADER=== */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo-color {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-menu-item {}

.header-menu-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  position: absolute;
  content: "";
  display: block;
  width: 48px;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
  margin-left: 332px;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-address-item {}

.header-address-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============ */

/* ===HERO===  */

.container-hero {}

.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/Dark-bg-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  display: block;
  margin: 0 auto;
}

.hero-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
}

.hero-btn {
  background: #4d5ae5;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

/* /* ============ */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===VALUE=== */

.value {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 8px;
}

.value-list-icon {
  display: flex;
  align-items: center;
  gap: 24px;
}

.value-item-icon {}

.value-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8E8F99;
  background: #F4F4FD;
  /* padding: 24px 100px; */
  margin-bottom: 8px;
}

.value-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.value-item {
  width: calc((100% - 24px * 3) / 4);
}

.value-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /* margin-top: 8px; */
  margin-bottom: 8px;
}

.value-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============ */

/* ===TEAM=== */

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-item {
  background: #fff;
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-id {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.team-job {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-soc {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-item-soc {
  width: 40px;
  height: 40px;
}

.team-link-soc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-soc:hover,
.team-link-soc:focus {
  background-color: #404bbf;
}

.team-soc-icon {
  fill: #f4f4fd;
}

/* ============ */

/* ===PORTFOLIO=== */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 24px * 2) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-cover-text {
  position: absolute;
  color: #F4F4FD;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  top: 0;
  left: 0;
  display: flex;
  padding: 40px 32px;
  height: 100%;
  background: #4D5AE5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============ */

/* ===FOOTER=== */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
  /* display: flex;
  align-items: baseline; */
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-cntnr-logo {
  margin-right: 120px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 17px;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-text-soc,
.footer-form-text {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-list-soc {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-item-soc {
  width: 40px;
  height: 40px;
}

.footer-link-soc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-soc:hover,
.footer-link-soc:focus {
  background-color: #31D0AA;
}

.footer-soc-icon {
  fill: #f4f4fd;
}

.footer-subscribe {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  margin-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-label {}

.footer-input {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #FFF;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
  background-color: transparent;
  padding: 8px 16px;
}

.footer-input::placeholder {
  color: #FFF;
}

.footer-form-btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 16px; */
  border-radius: 4px;
  background: #4D5AE5;
  cursor: pointer;
  border: none;
  min-width: 165px;
  height: 40px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #404bbf;
}

.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #FFFFFF;
  margin-left: 16px;
}

/* ============ */


/* ===MODAL=== */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #FCFCFC;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404BBF;
  border: none;
  fill: #ffffff;
}

.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2E2F42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}



.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border: 1px solid #4D5AE5;
}

.modal-input:focus+.modal-icon {
  fill: #4D5AE5;
}

.modal-label {
  display: block;
  color: #8E8F99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-text {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.40);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  padding: 8px 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  background-color: transparent;
}

.modal-text:focus {
  border: 1px solid #4D5AE5;
}

.modal-privacy {
  margin-bottom: 24px;
}

.check-input {}

.check-text {
  color: #8E8F99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  /* display: flex; */
  align-items: center;
}

.check-text a {
  color: #4D5AE5;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: underline;
  margin-left: 5px;
}

.check-spn {}

.check-text span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked+.check-text span {
  background-color: #404BBF;
  fill: #F4F4FD;
  border: none;
}

.modal-button-text {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  background: #4D5AE5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-text:hover,
.modal-button-text:focus {
  background: #404bbf;
}